<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Info" internalLogToConsoleError="true" throwExceptions="true">
  
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs. 
   -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="ColoredConsole" name="console" 
            layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception}" />
    <target xsi:type="EventLog" name="eventlog"
            layout="${logger} ${message} ${exception}" 
            machineName="." log="Service" />
    <target xsi:type="Debugger" name="debugger" 
            layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception}" />
    <target xsi:type="File" name="file"
            layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception}"
            fileName="${basedir}/logs/${shortdate}.log" />        
    <target xsi:type="Database" name="database" 
            dbProvider="mssql" connectionString="set by dslconfig"
            commandText="INSERT INTO LogTable(time_stamp, [level], logger, [message], exception) VALUES (@time_stamp,@level,@logger,@message, @exception)">
      <parameter name="@time_stamp" layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception}" />      
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="database" />    
    <logger name="*" minlevel="Warn" writeTo="eventlog" />
  </rules>
</nlog>